.sub-footer {

  background-color: color(primary);
  color: color(text-primary);
  padding: rem(30) 0;
  border-bottom: 1px solid color(text-primary);

  > .container--sm {
    @include flex(row, wrap, space-between, center);

    @include lessThan($mobile) {
      flex-direction: column;
    }
  }

  @include lessThan($tablet) {
    padding: rem(56) rem(60);

    .c-title {
      text-align: center;
      margin: auto;
    }

    .btn {
      margin-inline: auto;
      margin-top: rem(20);
    }
  }

  @include lessThan($mobile) {
    padding: rem(32) rem(16);
  }

  .c-title {
    @extend %fs-33;
  }
}
