.s-archive {
  padding-top: rem(76);
  padding-bottom: rem(148);
  background: color(primary);
  color: color(text-primary);

  .c-articles {
    .c-post {
      .c-image {
        height: rem(300);
      }
    }
  }


}
